<html>
	<meta charset="UTF-8"/>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container">
			<div th:replace="~{base :: titulo('Recupere sua conta')}"></div>
		
			<div class="card mb-3">
				<form th:action="@{/usuario/resetarSenha}" class="card-body" method="post">
					<div class="form-group">
						<h5 for="email" class="mb-3">Lhe enviaremos um email com um link para redefinir sua senha</h5>
						<input type="text" name="email"  class="form-control" placeholder="exemplo@email.com"/>
					</div>
					<div class="row ml-0 mb-0 d-flex justify-content-between">
						<button class="btn btn-primary" type="submit">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>	