<html>
	<meta charset="UTF-8"/>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container">
			<div th:replace="~{base :: titulo('Login do Usuário')}"></div>
		
			<div class="card mb-3">
				<form th:action="@{/usuario/salvarSenha}" class="card-body" method="post">
					<div  class="form-group">
						<label for="novaSenha">Nova Senha</label>
						<input type="password" name="novasenha"  class="form-control"/>
					</div>
					<div class="form-group">
						<label for="novaSenha2">Repita Nova Senha</label>
						<input type="password" name="novasenha2" class="form-control"/>
					</div>
					<div class="form-group">
					 	<label th:text="${token}">token</label>
					 	<input id="token" name="token" th:value="${token}" />
					</div>
					<div class="row ml-0 mb-0 d-flex justify-content-between">
						<button class="btn btn-primary" type="submit">Continuar</button>
					</div>
					
				</form>
			</div>
		</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>	